* {
  box-sizing: box;
  margin: 0;
  padding: 0;
}

.header__top {
  background-color: #e8e8e8;
}

.header__top--web {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* end header__top web */

.header__top--search {
  width: 700px;
}

.input__group {
  border: none;
  width: 599px;
  margin: 0;
  border-radius: 5px;
  padding-left: 10px;
}
.header__top--shop--car a {
  color: #ff5c01;
  font-size: 40px;
  margin-right: 10px;
}

.form-control {
  width: 20px;
  height: 50px;
}

.input-group {
  border: 1px solid #ff5c01;
  border-radius: 7px;
}

.btn-search {
  color: white;
  width: 100px;
  background-color: #ff5c01;
}

/* end header top */

.menu__header--top {
  margin-top: 15px;
}

.menu__header {
  background-color: #ff5c01;
}

.menu__header--product {
  padding: 9px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__header--item {
  padding: 0;
  display: flex;
}

.menu__header--item--title {
  list-style: none;
}

.menu__header--link {
  color: white;
  text-decoration: none;
  padding-right: 130px;
  font-size: 20px;
}

.menu__header--link:hover {
  text-decoration: underline;
  color: white;
}

.menu__header--contact {
  display: flex;
  justify-content: space-between;
}

.menu__header--contact a {
  color: white;
  padding-left: 5px;
  font-size: 20px;
}

/* position header login logout */
.menu__header--icon {
  margin-right: 13px;
  position: relative;
}

.menu__header--contact a {
  text-decoration: none;
}

.menu__header--icon--login {
  position: absolute;
  border: 1px solid rgba(245, 242, 242, 0.5);
  top: 6px;
  left: 80px;
  height: 24px;
}

.banner__web {
  padding: 0;
  margin-top: 15px;
}

.btn__form {
  border: none;
  border-radius: 5px;
  padding: 0 10px;
}

/* end header */

.contact__login {
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  width: 420px;
  height: 512px;
}

.contact__login--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact__login--title--status h3 {
  font-size: 22px;
}

.contact__login--icon img {
  width: 150px;
  height: 70px;
}

.form-control {
  margin-top: 22px;
  width: 100%;
}

.btn-danger {
  width: 100%;
  margin-top: 32px;
  height: 50px;
}

.main__content--password {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  color: rgb(36, 5, 212);
  font-size: 15px;
}

.main__content--or {
  position: relative;
  text-align: center;
  font-size: 16px;
}

.main__content--border {
  position: absolute;
  border-bottom: 2px solid rgba(46, 41, 41, 0.3);
  width: 120px;
  height: 20px;
  top: 0px;
  left: 10px;
}

.main__content--borders {
  position: absolute;
  border-bottom: 2px solid rgba(46, 41, 41, 0.3);
  width: 120px;
  height: 20px;
  top: 0px;
  right: 10px;
}

.main__content--app {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__content--app--face {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  border: 1px solid black;
  border-radius: 2px;
  padding: 10px 0;
}

.main__content--app--face:hover {
  background-color: rgb(247, 240, 240);
}

.main__content--app--face--title p {
  margin: 0;
}

.fa-facebook {
  font-size: 24px;
}

.fa-google-plus-g {
  font-size: 24px;
  color: #38a95b;
}

.fa-apple {
  font-size: 24px;
  color: black;
}

.main__content--new {
  margin-top: 30px;
  text-align: center;
}

.main__content--new span {
  color: #ee4d2d;
}

.main__contents {
  background-color: #ee4d2d;
}

.icon__service {
  padding: 10px;
  border-bottom: 2px solid black;
}

.icon__service--items a {
  color: #ff5c01;
  font-size: 50px;
}

.footer {
  background-color: rgba(232, 232, 232, 0.5);
}

.icon__service h5 {
  color: rgb(44, 2, 199);
}

.contact__user p {
  color: rgb(4, 50, 179);
}
